

body{
    background-color: rgb(0, 0, 0);
    min-height: 120vh;                  /* que el body tenga al menos la altura de la ventana del navegador */
    color: white;
    
}

.contenedor-principal{
    margin-top:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(43, 61, 63);
    height: 100vh;                              /*flexbox necesita altura suficiente para centrar el contenido*/
    padding-bottom: 100px;
}

.row {
    border: 2px solid black;
    background-color: rgb(83, 79, 79);
    display: flex;
    justify-content:flex-start;                  /* alinea los elementos al inicio del contenedor principal */
    flex-wrap: nowrap;                          /* se mantendran los elementos en la misma fila*/
    width: 100%;                               /*  el contenedor ocupe todo el espacio disponible en la ventana */
    overflow-x:scroll;                          /*  scroll horizontal si los elementos no caben*/
    
   
}
  
.pelicula {
    margin: 10px;
    flex-shrink: 0;              /*evita que los elementos se compriman */
    
}
  



img{
    width:150px;
    border: 3px solid black;
    cursor: pointer;
}


/*---------------*/

.encabezado{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    
}

h3{
    margin-left: 10px;
    white-space: nowrap;
}
input{
    margin:auto;
    margin-left: 800px;
    padding: 10px;
    width:400px;
    border: 1px solid black;
    
}

input:focus{
    border-color: lightblue;
    outline: none;
}